<!DOCTYPE html>


<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />



    <meta name="description" content="" />
    <title>{% block title %}Connexion!{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{asset('templates/adminTemplate/assets/img/favicon/favicon.ico')}}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{asset('templates/adminTemplate/assets/vendor/fonts/boxicons.css')}} " />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{asset('templates/adminTemplate/assets/vendor/css/core.css')}} "
        class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{asset('templates/adminTemplate/assets/vendor/css/theme-default.css')}} "
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{asset('templates/adminTemplate/assets/css/demo.css')}} " />

    <!-- Vendors CSS -->
    <link rel="stylesheet"
        href="{{asset('templates/adminTemplate/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')}} " />

    <link rel="stylesheet"
        href="{{asset('templates/adminTemplate/assets/vendor/libs/apex-charts/apex-charts.css')}} " />

    <link rel="stylesheet" href="{{asset('templates/adminTemplate/assets/vendor/css/pages/page-auth.css')}} " />
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src=" {{asset('templates/adminTemplate/assets/vendor/js/helpers.js')}}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src=" {{asset('templates/adminTemplate')}} ../assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">

                        <h4 class="mb-2">Bienvenu sur la page! 👋</h4>
                        <p class="mb-4">Veuillez vous inscrir</p>

                        <form class="mb-3" method="post">

                            <div class="mb-3">
                                <label for="email" class="form-label">Entrez votr E-mail</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                    placeholder="Email" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="inputPassword">Entrez votre password</label>
                                    <a href="auth-forgot-password-basic.html">
                                        <small>Mot de passe oublié?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="inputPassword" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" autocomplete="current-password" required />

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Me rappeler </label>
                                </div>
                            </div>
                            <div class="mb-3">

                                <button class="btn btn-primary d-grid w-100 mb-3" type="submit">Me connecter</button>

                            </div>
                        </form>

                        <button class="btn btn-primary d-grid w-100 mb-3">
                            <a href="{{ path('app_register')}}">
                                <strong>
                                    <font color="black"> je n'ai pas de compte, je veux m'inscrir</font>
                                </strong>
                            </a>
                        </button>


                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- / Content -->

    <div class="buy-now">
        <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank"
            class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src=" {{asset('templates/adminTemplate/assets/vendor/libs/jquery/jquery.js')}}"></script>
    <script src=" {{asset('templates/adminTemplate/assets/vendor/libs/popper/popper.js')}}"></script>
    <script src=" {{asset('templates/adminTemplate/assets/vendor/js/bootstrap.js')}}"></script>
    <script
        src=" {{asset('templates/adminTemplate/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')}}"></script>

    <script src=" {{asset('templates/adminTemplate/assets/vendor/js/menu.js')}}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src=" {{asset('templates/adminTemplate/assets/vendor/libs/apex-charts/apexcharts.js')}}"></script>

    <!-- Main JS -->
    <script src=" {{asset('templates/adminTemplate/assets/js/main.js')}}"></script>

    <!-- Page JS -->
    <script src=" {{asset('templates/adminTemplate/assets/js/dashboards-analytics.js')}}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>